@import "tailwindcss";

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#root {
  @apply bg-slate-300 md:px-2 md:py-2;
}

.chat-bar {
  @apply md:min-h-80 md:w-64 h-screen min-w-64 bg-sky-900 md:rounded-l-lg shadow-lg md:flex md:flex-col items-center;
}

.chat-content {
  @apply w-full bg-slate-200 h-screen md:flex min-w-90 md:flex-col flex-1;
}

.profile-bar {
  @apply min-w-64 bg-gray-200 shadow-sm rounded-r-lg md:flex md:flex-col;
}
